* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    position: relative;
}


.modal-window {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(24, 28, 41, 0.8);

}



.modal-window__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Карточка модального окна*/

.modal-window__inner-wrapper {
    width: 400px;
    height: 514px;
    position: relative;

}

.modal-window__cross{
    position: absolute;
    top: 12px;
    right: 12px;
}

.img__wrapper {

    display: flex;
    justify-content: center;
    background-color: rgba(236, 243, 248, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-window__description-wrapper {
    min-height: 284px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.modal-window__description-wrapper {
    padding-top: 20px;
}

.modal-window__description {
    max-width: 360px;
    height: 104px;
    margin: 0 auto;

}

.modal-window__title-wrapper,
.modal-window__subtitle-wrapper {
    margin-bottom: 8px;
}

.modal-window__title {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16.6px;
    letter-spacing: 0.8px;
}

.modal-window__subtitle {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 23.68px;
    letter-spacing: 1.28px;
}

.subdescription__text {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: rgba(24, 28, 41, 1);
}

.modal-window__superpowers {
    padding-top: 20px;
}

.superpowers__wrapper {
    max-width: 360px;
    min-height: 120px;
    margin: 0 auto;
}

.superpowers__title-wrapper {
    margin-bottom: 8px;
}

.superpowers__title {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16.6px;
    letter-spacing: 0.8px;
    color: rgba(24, 28, 41, 1);
}

.superpower {
    display: flex;
   
}

.superpower__name,
.superpower__score{
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: rgba(24, 28, 41, 1);
}

.superpower__name {
    flex-grow: 1;
}

.superpower__score {
    flex-basis: 14%;
}

.superpower__visual-score {
    flex-basis: 20%;
    line-height: 23.68px;
}